platform: linux
image_resource:
  type: registry-image
  source:
    repository: harbor-repo.vmware.com/cryogenics/essentials
    tag: 0.1.100
inputs:
  - name: backup-and-restore-sdk-release
run:
  path: backup-and-restore-sdk-release/ci/tasks/sdk-system-db/task.sh
params:
  BOSH_ENVIRONMENT:
  BOSH_CLIENT:
  BOSH_CLIENT_SECRET:
  BOSH_CA_CERT:
  BOSH_GW_USER:
  BOSH_GW_HOST:
  BOSH_GW_PRIVATE_KEY:
  MYSQL_HOSTNAME:
  MYSQL_PORT: 3306
  MYSQL_USERNAME: root
  MYSQL_PASSWORD:
  MYSQL_CA_CERT:
  MYSQL_CLIENT_CERT:
  MYSQL_CLIENT_KEY:
  POSTGRES_PASSWORD:
  POSTGRES_USERNAME: root
  POSTGRES_SSL_USERNAME:
  POSTGRES_HOSTNAME:
  POSTGRES_PORT: 5432
  POSTGRES_CA_CERT:
  POSTGRES_CLIENT_CERT:
  POSTGRES_CLIENT_KEY:
  SDK_DEPLOYMENT: database-backup-restorer
  SDK_INSTANCE_GROUP: database-backup-restorer
  TEST_TLS: true
  TEST_TLS_VERIFY_IDENTITY: true
  TEST_SSL_USER_REQUIRES_SSL: true
  TEST_SUITE_NAME:
