platform: linux
image_resource:
  type: registry-image
  source:
    repository: harbor-repo.vmware.com/cryogenics/essentials
    tag: 0.1.112
inputs:
  - name: backup-and-restore-sdk-release
  - name: terraform-state
  - name: cert-store
run:
  path: backup-and-restore-sdk-release/ci/tasks/sdk-system-db/terraform-task.sh
params:
  BOSH_ENVIRONMENT:
  BOSH_CLIENT:
  BOSH_CLIENT_SECRET:
  BOSH_CA_CERT:
  BOSH_GW_USER:
  BOSH_GW_HOST:
  BOSH_GW_PRIVATE_KEY:
  DB_TYPE:
  DB_PREFIX:
  MYSQL_PORT: 3306
  MYSQL_USERNAME: root
  MYSQL_PASSWORD:
  MYSQL_CA_CERT_PATH:
  MYSQL_CLIENT_CERT_PATH:
  MYSQL_CLIENT_KEY_PATH:
  POSTGRES_PASSWORD:
  POSTGRES_USERNAME: root
  POSTGRES_SSL_USERNAME:
  POSTGRES_PORT: 5432
  POSTGRES_CA_CERT_PATH:
  POSTGRES_CLIENT_CERT_PATH:
  POSTGRES_CLIENT_KEY_PATH:
  SDK_DEPLOYMENT: database-backup-restorer
  SDK_INSTANCE_GROUP: database-backup-restorer
  TEST_TLS: true
  TEST_TLS_VERIFY_IDENTITY: true
  TEST_SSL_USER_REQUIRES_SSL: true
  TEST_SUITE_NAME:
  ZIP_PASSWORD:
