platform: linux
image_resource:
  source:
    repository: harbor-repo.vmware.com/cryogenics/essentials
    tag: 0.1.76
  type: registry-image
params:
  GCP_SERVICE_ACCOUNT_KEY: ((gcp/service_accounts/owner.json_key))
  DEBUG:
inputs:
  - name: env
  - name: backup-and-restore-sdk-release
run:
  path: backup-and-restore-sdk-release/ci/tasks/allow-tunnel-from-jumpbox-to-database-vms/task.sh
