platform: linux
image_resource:
  type: registry-image
  source:
    repository: cryogenics/essentials
    tag: 0.1.63
inputs:
  - name: backup-and-restore-sdk-release
run:
  path: backup-and-restore-sdk-release/ci/tasks/create-ssl-user/task.sh
params:
  BOSH_ENVIRONMENT:
  BOSH_DEPLOYMENT:
  BOSH_CLIENT:
  BOSH_CLIENT_SECRET:
  BOSH_GW_HOST:
  BOSH_GW_USER:
  BOSH_CA_CERT:
  BOSH_GW_PRIVATE_KEY:
