on:
  pull_request:
    types: [ opened, synchronize, reopened, labeled ]
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: make docker-unit 

  run-system-tests-jammy:
    if: contains(github.event.pull_request.labels.*.name, 'system-tests')
    needs: run-unit-tests
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - run: FOCUS=ubuntu-jammy make docker-system

  run-system-tests-bionic:
    if: contains(github.event.pull_request.labels.*.name, 'system-tests')
    needs: run-unit-tests
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - run: FOCUS=ubuntu-bionic make docker-system

  run-system-tests-xenial:
    if: contains(github.event.pull_request.labels.*.name, 'system-tests')
    needs: run-unit-tests
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - run: FOCUS=ubuntu-xenial make docker-system
