on:
  workflow_call:

jobs:
  blobstore-azure-unit-tests:
    name: Azure Blobstore
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          path: repo
      - name: Run Azure Blobstore Unit Tests
        run: docker compose -f repo/docker-compose.yml run unit-database

  blobstore-gcs-unit-tests:
    name: GCS Blobstore
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          path: repo
      - name: Run GCS Blobstore Unit Tests
        run: docker compose -f repo/docker-compose.yml run unit-blobstore-gcs

  blobstore-s3-unit-tests:
    name: S3 Blobstore
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          path: repo
      - name: Run S3 Blobstore Unit Tests
        run: docker compose -f repo/docker-compose.yml run unit-blobstore-s3

  database-unit-tests:
    name: Database
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          path: repo
      - name: Run Database Unit Tests
        run: docker compose -f repo/docker-compose.yml run unit-database

  sdk-template-unit-tests:
    name: SDK Template
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          path: repo
      - name: Run SDK Template Unit Tests
        run: docker compose -f repo/docker-compose.yml run unit-sdk-template
