platform: linux

inputs:
  - name: backup-and-restore-sdk-release
  - name: backup-and-restore-sdk-release-ci
  - name: ruby-install

run:
  path: backup-and-restore-sdk-release-ci/ci/tasks/sdk-template-unit-tests/task.sh
